<h2>Smashitt</h2>

<ul class="posts">
  <% @posts.each do |post| %>
      <li class="post_info">
        <b>Smashed by:</b> <%= post.user.name %> <b>Smashed on:</b> <%= time_ago_in_words(post.created_at) %> ago
      </li>
      <li class="post">
        <%= post.title %>
      <%= link_to, post.url %><
      <%= link_to "See Smashing Comments", post_show_path(post) %>
      </li>
  <% end %>

  <div class="posts-nav">
    <%= paginate @posts %>
    <%= link_to "Add a new Post!", posts_new_path %>
  </div>
</ul>