<h2><%= @post.title %></h2>

<div class="post-body">
  <%= @post.url %>
  <!--the above format is dependant upon the updating of the url method-->
</div>



<%= form_tag(comments_create_path(@post)) do %>
 <%= label_tag "Comment: " %>
 <%= text_area_tag :comment, nil, cols: 20, rows:10 %>
 <%= submit_tag "Smash this post" %>
<% end %>



<%= link_to "Posts Index", posts_path %>
