<h2><%= @post.title %></h2>

<div class="post-body">
  <%= @post.url %>
  <!--the above format is dependant upon the updating of the url method-->
</div>

<h2> Smashing comments </h2>
<div class="comments">
    <% @post.comments.each do |comment| %>
        <div class="comment">
            <em>Written: <%= time_ago_in_words(comment.created_at) %> ago</em><br/>
            <%= simple_format(comment.content) %>
        </div>
    <% end %>
</div>
		




<%= form_tag(comments_create_path(@post)) do %>
 <%= label_tag "Comment: " %>
 <%= text_area_tag :comment, nil, cols: 30, rows:5 %>
 <%= submit_tag "Smash this post" %>
<% end %>



<%= link_to "Posts Index", posts_show_path %>
